Library/Application Support/vi-mongo/config.yaml
.config/nvim/lsp/yaml/service-info.json
.config/mise/.env
.config/fish/config.fish
.aider.tags.cache.v4
.aider.chat.history.md
.aider.input.history
.config/mise/config.toml
